.headerStyle{
  background-color: lightblue;
}
.GeneralBlock{
  display: flex;
}

.NavStyle{
  background-color: yellow;
  height: 100px;
  width: 45vh;
}
.BodyStyle{

  width: 175vh;
}

.Article1Style{
  background-color: darkseagreen;
}
.Article2Style{
  background-color: greenyellow;
}
.article a{
  color: red;
}
.article a.active{
  color: black;
}